{{#each this}}
<div class="col-xs-6">
	<p>
		<a href="img/facilities/{{this}}" class="thumbnail">
			<img src="img/facilities/tn/{{this}}" class="img-responsive" alt="...">
		</a>
	</p>
</div>
{{/each}}