# Ignore compilation results
target
/dist
/docs
/node_modules
/reports
/build
/src/temp
/src/libs
/src/js/templates.tmpl.js

# Ignore IDE and Operating System artifacts
.idea
.classpath
.metadata
.project
.settings
maven-eclipse.xml
*.iml
*.ipr
*.iws
*.rej
.DS_Store
*.sublime-workspace
*.sublime-grunt.cache

# Ignore binary folders
*.orig

# Ignore source maps
*.map

# Ignore stackdumps
*.stackdump