<!--footer start-->
<footer id="footer" class="footer navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div class="footer-col">
                    <h3 class="widget-title">Contact Us</h3>
                    <p>Building 1, 35 Waterloo Road, Macquarie Park 2113</p>
                    <p id="phonenumber">(02) 9887 1230</p>
                    <p><a href="contact.html">Enquire more</a></p>
                    <p><a href="" data-toggle="modal" data-target="#sizzle">Help me get here</a></p>
                </div>
                <div id="map"></div>
            </div>
            <div class="col-md-5 col-xs-12 pull-right">
                <div class="footer-col">
                    <h3 class="widget-title">Instagram</h3>
                    <!-- SnapWidget -->
                    <script src="https://snapwidget.com/js/snapwidget.js"></script>
                    <iframe src="https://snapwidget.com/embed/319439" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-privacy-text">
                    Copyright &copy; 2017 <a href="#">Movement Martial Arts</a>
                </div>
            </div>
        </div>
        </container>
</footer>
<!--footer end-->
