<!--footer start-->
<div class="line"></div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Movement Martial Arts</h3>
                <p>Building 1, 35 Waterloo Road, Macquarie Park 2113</p>
                <p><a href="" data-toggle="modal" data-target="#sizzle">Get directions</a></p>
                <p id="phonenumber">(02) 9887 1230</p>
            </div>
{{!--             <div class="col-md-3">
                <h3>Site Links</h3>
                {{> nav_footer navitems_footer}}
            </div> --}}
            <div class="col-md-3">
                <h3>Follow Us</h3>
                <p class="social">
                    <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a> 
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
    </container>
</footer>
<!--footer end-->
