<ul class="nav navbar-nav">
    <!-- TO DO : redo nav using this http://assemble.io/docs/FAQ.html -->
    {{#navitem}}
    <li {{#is pageid key}}class="active" {{/is}} {{#if class}}class="js-nav-item {{class}}" {{/if}}><a href="{{data}}">{{key}}</a></li>
    {{/navitem}}
</ul>
