---
layout: default.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "about"
--- 
<section class="intro-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</section>
<section id="team" class="segment">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="lobster">Meet the team</h2>
                <p>Meet the 3 guys who kicked it all off</p>
            </div>
        </div>
        <div class="row row-flex row-flex-wrap">
            <div class="col-md-4">
                <div class="well">
                    <p class="text-center"><img src="img/team-andrew.jpg" class="img-responsive"></p>
                    <ul class="list-inline team-contact">
                        <li><a href="#"><i class="glyphicon glyphicon-phone"></i></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-envelope"></i></a></li>
                    </ul>
                    <h4>Andrew Husmann</h4>
                    <em>Founder and Head Coach</em>
                    <p>Andrew is an experienced and certified coach, and has spent many years coaching world class competitors in both childrens and adults BJJ, Muay Thai Kickboxing and MMA.</p>
                    <p>He is currently a brown belt in BJJ, holds both Pan Pacific and national titles, and has competed at the World Championships.</p>
                    <p>He holds a black shirt rank in Muay Thai Kickboxing with extensive training in Thailand, and has fought professionally.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <p class="text-center"><img src="img/team-billy.jpg" class="img-responsive"></p>
                    <ul class="list-inline team-contact">
                        <li><a href="#"><i class="glyphicon glyphicon-phone"></i></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-envelope"></i></a></li>
                    </ul>
                    <h4>Billy Sam</h4>
                    <em>Founder and Head Coach</em>
                    <p>Billy is an experienced and certified coach, most recently coaching kids and adults in Jiu Jitsu.</p>
                    <p>He holds a Bachelor's Degree in Exercise and Sports Science, and Certificate 3 and 4 in Fitness.</p>
                    <p>He is currently a brown belt in BJJ, holds national and Pan Pacific titles and has competed at the World Championships on numerous occasions.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <p class="text-center"><img src="img/team-wade.jpg" class="img-responsive"></p>
                    <ul class="list-inline team-contact">
                        <li><a href="#"><i class="glyphicon glyphicon-phone"></i></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-envelope"></i></a></li>
                    </ul>
                    <h4>Wade Huang</h4>
                    <em>Founder and Head Coach</em>
                    <p>Wade is a reformed nine-to-fiver who has found his passion in Jiu Jitsu.</p>
                    <p>Wade is currently a brown belt in BJJ, has medalled in various competitions nationally and has competed at the World Championships on numerous occasions.</p>
                    <p>Wade is an experienced and certified coach, teaching BJJ classes and coaching in Muay Thai Kickboxing at Movement.</p>
                </div>
            </div>
        </div>
    </div>
</section>
