---
layout: default.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "about"
---   
<section class="intro-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center hidden-sm hidden-xs">
                <h1>About <span class="colored-text">Movement</span></h1>
            </div>
        </div>
    </div>
</section>
<section class="inner-page-content">
    <div class="space-20"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="center-heading text-center">
                    <h3>Movement Team</h3>
                    <span class="center-line"></span>
                    <p>Meet the three guys who kicked it all off
                    </p>
                </div>
            </div>
        </div>
        <!--center heading-->
        <div class="row">
            <div class="col-md-4 margin-btm-20">
                <div class="person-wrap">
                    <img src="img/team-andrew.jpg" class="img-responsive" alt="">
                    <div class="person-desc desc-2">
                        <h3>ANDREW HUSMANN</h3>
                        <em>Founder and Head Coach</em>
                        <ul class="list-inline team-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 margin-btm-20">
                <div class="person-wrap">
                    <img src="img/team-billy.jpg" class="img-responsive" alt="">
                    <div class="person-desc desc-2">
                        <h3>BILLY SAM</h3>
                        <em>Founder and Head Coach</em>
                        <ul class="list-inline team-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 margin-btm-20">
                <div class="person-wrap">
                    <img src="img/team-wade.jpg" class="img-responsive" alt="">
                    <div class="person-desc desc-2">
                        <h3>WADE HUANG</h3>
                        <em>Founder and Head Coach</em>
                        <ul class="list-inline team-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-20"></div>
    <div class="counters">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 margin-btm-20">
                    <div class="fact-col">
                        <span class="counter">7809</span>
                        <h4>Cups of Coffee</h4>
                    </div>
                </div>
                <div class="col-sm-3 margin-btm-20">
                    <div class="fact-col">
                        <span class="counter">5897</span>
                        <h4>Lines of code</h4>
                    </div>
                </div>
                <div class="col-sm-3 margin-btm-20">
                    <div class="fact-col">
                        <span class="counter">4345</span>
                        <h4>Projects Launch</h4>
                    </div>
                </div>
                <div class="col-sm-3 margin-btm-20">
                    <div class="fact-col">
                        <span class="counter">4</span>
                        <h4>Worldwide Office</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--counters-->
    <!--our team-->
</section>
