---
layout: default.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "about"
---
<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Meet the team</h2>
                <p>Movement Martial Arts is run by three BJJ black belts and Muay Thai experts.<br>Find out more about Andrew, Billy and Wade below.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="img">
                    <h3><span>Andrew Husmann</span></h3>
                    <p class="text-center"><img src="img/team-andrew.jpg" class="img-responsive"></p>
                </div>
                <p>Andrew is an experienced and certified coach, and has spent many years coaching world class competitors in both childrens and adults BJJ, Muay Thai Kickboxing and MMA.</p>
                <p>He is currently a brown belt in BJJ, holds both Pan Pacific and national titles, and has competed at the World Championships.</p>
                <p>He holds a black shirt rank in Muay Thai Kickboxing with extensive training in Thailand, and has fought professionally.</p>
            </div>
            <div class="col-md-4">
                <div class="img">
                    <h3>Billy<br>Sam</h3>
                    <p class="text-center"><img src="img/team-billy.jpg" class="img-responsive"></p>
                </div>
                <p>Billy is an experienced and certified coach, most recently coaching kids and adults in Jiu Jitsu.</p>
                <p>He holds a Bachelor's Degree in Exercise and Sports Science, and Certificate 3 and 4 in Fitness.</p>
                <p>He is currently a brown belt in BJJ, holds national and Pan Pacific titles and has competed at the World Championships on numerous occasions.</p>
            </div>
            <div class="col-md-4">
                <div class="img">
                    <h3>Wade<br>Huang</h3>
                    <p class="text-center"><img src="img/team-wade.jpg" class="img-responsive"></p>
                </div>
                <p>Wade is a reformed nine-to-fiver who has found his passion in Jiu Jitsu.</p>
                <p>Wade is currently a brown belt in BJJ, has medalled in various competitions nationally and has competed at the World Championships on numerous occasions.</p>
                <p>Wade is an experienced and certified coach, teaching BJJ classes and coaching in Muay Thai Kickboxing at Movement.</p>
            </div>
        </div>
    </div>
</section>
<section class="philosophy">
    <div class="container">
        <div class="row head">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div>
                    <h2>Our Philosophy</h2>
                    <p>3 best friends were brought together by a shared passion for martial arts and wanted to share this with others, and so Movement Martial Arts was born. Our mission is to create a community where everyone has the chance to achieve their goals and reach their full potential.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="threec">We focus on 3 Cs:</h3>
            </div>
        </div>
        <div class="row row-flex row-flex-wrap focus">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Coaching</h4>
                        <p>We provide world class coaching and invest in developing our students to their full potential.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Culture</h4>
                        <p>We drive a culture that makes everyone feel welcome, valued and supported. Most of all we want our students to have fun when they come train with us!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Community</h4>
                        <p>Ultimately we are creating a community of people with a shared passion and love for their sport.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row train">
            <div class="col-sm-12 text-center">
                <a href="contact.html" role="button" class="btn text-center">Come train with us!</a>
            </div>
        </div>
    </div>
</section>
<section class="instagram">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Instagram Feed</h2>
                <p>Check out some of the latest instagram posts from our Muay Thai and BJJ classes!</p>
                <!-- SnapWidget -->
                <script src="https://snapwidget.com/js/snapwidget.js"></script>
                <iframe src="https://snapwidget.com/embed/319439" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
            </div>
        </div>
    </div>
</section>


