---
layout: styles.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "styles"
type: "bjj"
---
<h2>Brazilian <br>Jiu Jitsu (BJJ)</h2>
<p><strong>Brazilian Jiu Jitsu is a combat sport and a self-defence system that focuses on grappling and ground fighting; emphasising position, control and submissions such as chokes, arm locks and leg locks. BJJ is extremely effective to control your opponent without the use of striking. Because of this, many occupations that require self defense eg. Policemen, military and security will train in this art.</strong></p>
<p>BJJ gained popularity in 1993, when the UFC held its first ever event. The UFC was originally created to see which martial art was truly the best. This attracted some of the best in many martial arts styles including Royce Gracie who specialised in BJJ, weighed 170 pounds and was competing against opponents with huge weight advantages. He quickly went on to win all his matches, making him the first ever UFC champion, and bringing BJJ to the forefront of martial arts.</p>
<p>Our classes are run by three highly experienced coaches who have all achieved their black belts in BJJ, along with many titles including state, national and pan pacific champion, and also competing on the world stage multiple times. We dedicate our time and energy to our students, support them through competitions and tournaments, and continue to develop their skills.</p> 
<p>Our members join for varying reasons – confidence, self defense, weight loss, hobbyist or competitor and have achieved amazing results in each of these areas. We love to see our students progress, so come give one of our classes a go and see for yourself how passionate we are about this art. </p>
<p>Kids classes also available, see here for more info.</p>
<div id="bjjcarouselcontainer">
	<div id="bjjCar" class="carousel slide">
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">

		</div>
	</div>
</div>
<h4>About the class</strong></h4>
<ul class="basic"> 
	<li><i class="fa fa-check" aria-hidden="true"></i> Full cardiovascular workout - build strength, physical fitness and coordination</li>
	<li><i class="fa fa-check" aria-hidden="true"></i> Learn ground fighting techniques from experienced and accredited coaches</li>
	<li><i class="fa fa-check" aria-hidden="true"></i> Build confidence</li>
	<li><i class="fa fa-check" aria-hidden="true"></i> Effective in self defence</li>
	<li><i class="fa fa-check" aria-hidden="true"></i> Compete in tournaments</li>
	<li><i class="fa fa-check" aria-hidden="true"></i> Meet new people and have fun!</li>
</ul>
