---
layout: default.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "contact"
---

<section class="form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1><span>We'd love to hear from you</span></h1></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <h2>Movement Martial Arts</h2>
                    <p><strong>Building 1,<br>35 Waterloo Road,<br>Macquarie Park 2113,<br>Sydney</strong></p>
                    <p class="big"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:0298871230" class="hidden-md hidden-lg">(02) 9887 1230</a><span class="hidden-xs hidden-sm">(02) 9887 1230</span></p>
                    <p class="big"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@movementmartialarts.com.au">info@movementmartialarts.com.au</a></p>
                </div>
                <div class="col-md-4 black">
                    {{> form contact=true button="Click to contact us!"}}
                </div>
            </div>
        </div>
    </section>