---
layout: default.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "freetrial"
---

<section class="form">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Free Trial Week? <br><span>Yes Please!</span></h1></div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<p>Simply enter your details and one of our friendly staff members will be in touch to organise your free week of classes.</p>
					<ul>
						<li><i class="glyphicon glyphicon-ok-sign"></i> <span>No obligation</span></li>
						<li><i class="glyphicon glyphicon-ok-sign"></i> <span>Try Muay Thai, BJJ or both!</span></li>
						<li><i class="glyphicon glyphicon-ok-sign"></i> <span>Full use of our facilities during classes</span></li>
					</ul>
				</div>
				<div class="col-md-4 yellow">
					{{> form trial=true button="Book now!"}}
				</div>
			</div>
		</div>
	</section>

	{{> location }}