---
layout: default.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "home"
---
<section class="intro-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="hidden-sm hidden-xs">Movement <span>Martial Arts</span>{{!-- <br><small>Sydney's Premier Martial Arts Gym</small> --}}</h1>
                <div class="buttons">
                    <a href="about.html" role="button" class="btn text-center learnmore">Learn more</a>
                    <a href="freetrial.html" role="button" class="btn text-center">Free trial</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row blurb">
            <div class="col-md-8 text-center col-md-offset-2">
                <p>Movement Martial Arts is a martial arts gym based in Macquarie Park, Sydney, offering classes and training in Brazilian Jiu Jitsu (BJJ), Muay Thai Kickboxing, and Mixed Martial Arts (MMA). Our classes are suitable for ages 6+, for people of all fitness and skill levels.</p>
            </div>
        </div>
    </div>
</section>
<section id="intro-styles" class="intro-styles">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Training Styles</h2>
                <p>We hold classes in three separate disciplines with each taught by highly experienced coaches. You can read more about the classes we offer by clicking on one of the images below.</p></div>
            </div>
            <div class="row">
                <div class="col-md-3 type">
                    <a href="muaythai.html">
                        <h3><span>Muay Thai</span></h3>
                        <p class="text-center"><img src="img/home-mtk.png" class="img-responsive"></p>
                        <p class="btn"><span>Learn more</span></p>
                    </a>
                </div>
                <div class="col-md-3 type">
                    <a href="bjj.html">
                        <h3><span>BJJ</span></h3>
                        <p class="text-center"><img src="img/home-bjj.png" class="img-responsive"></p>
                        <p class="btn"><span>Learn more</span></p>
                    </a>
                </div>
                <div class="col-md-3 type">
                    <a href="mma.html">
                        <h3><span>MMA</span></h3>
                        <p class="text-center"><img src="img/home-mma.png" class="img-responsive"></p>
                        <p class="btn"><span>Learn more</spana></p>
                        </a>
                </div>
                <div class="col-md-3 type">
                    <a href="kids.html">
                        <h3><span>Kids</span></h3>
                        <p class="text-center"><img src="img/home-kids.png" class="img-responsive"></p>
                        <p class="btn"><span>Learn more</span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="line"></div>
<section id="testimonials">
    <div class="container">
        <div class="col-md-12 text-center hidden-sm hidden-xs">
            <h2>Testimonials</h2>
        </div>

        <div id="test-car" class="carousel slide">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#test-car" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#test-car" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>come and try out our classes for a week, free of charge!
<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>One week free trial</h2>
                <p>Come and try out our classes for a week, free of charge!</p>
                <a href="timetable.html" class="btn btn-white">See timetable</a>
                <a href="freetrial.html" class="btn btn-black">Come on!</a>
            </div>
        </div>
    </div>
</section>
{{> location }}
