---
layout: default.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "kids"
---
<section class="intro-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Kids Program</h1>
            </div>
        </div>
    </div>
</section>
<section id="kids" class="segment">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="lobster">What is covered in our kids program?</h2>
            </div>
        </div>
        <div class="row row-flex row-flex-wrap">
            <div class="col-md-12">
                <div class="well">
                    <h4>Andrew Husmann</h4>
                    <em>Founder and Head Coach</em>
                    <ul class="list-inline team-contact">
                        <li><a href="#"><i class="glyphicon glyphicon-phone"></i></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-envelope"></i></a></li>
                    </ul>
                    <p>Andrew is an experienced and certified coach, and has spent many years coaching world class competitors in both childrens and adults BJJ, Muay Thai Kickboxing and MMA.</p>
                    <p>He is currently a brown belt in BJJ, holds both Pan Pacific and national titles, and has competed at the World Championships.</p>
                    <p>He holds a black shirt rank in Muay Thai Kickboxing with extensive training in Thailand, and has fought professionally.</p>
                </div>
            </div>
        </div>
    </div>
</section>
