---
layout: styles.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "styles"
type: "kids"
---
<h2>Kids BJJ <br>Classes</h2>
<p><strong>Our Brazilian Jiu Jitsu program caters for kids 5 to 14 years old.</strong></p>
<div class="hidden-xs">
	<p>Brazilian Jiu Jitsu (BJJ) is a grappling art used to take your opponent to the ground, controlling them
		with position and finishing with a submission. BJJ was designed for a smaller person using technique
	and leverage to defeat a much larger opponent.</p>
	<p>Our classes are specifically tailored and designed for a child’s developing mind and body, with
	activities which teach real-life technique in a fun and engaging way.</p>
	<p>Through our syllabus your child will develop discipline, respect, grit and self-confidence in a fun,
		clean, and most importantly safe environment. They will also develop physical skills and technique
	that can help your child defend themselves in a difficult situation.</p>
	<p>Many of our students choose to compete in the sporting aspect of BJJ, gaining titles such as State
		Champion, National Champion &amp; even World Champion. We also have many students who opt not
	to compete, and we spend an equal amount of time and energy developing both.</p>
	<p>All our instructors are accredited and highly experienced coaches with complete and regular working
	with children checks.</p>
	<p>Our students love our classes, come check them out for yourselves!</p>
</div>
<div class="hidden-lg hidden-md">
	<p>Our classes are specifically tailored and designed for a child’s developing mind and body, with activities which teach real-life technique in a fun and engaging way.</p>
	<p>Through our syllabus your child will develop discipline, respect, grit and self-confidence in a fun, clean, and most importantly safe environment. They will also develop physical skills and technique that can help your child defend themselves in a difficult situation.</p>
	<p>Our students love our classes, come check them out for yourselves!</p>
</div>
<div id="kidscarouselcontainer">
	<div id="kidsCar" class="carousel slide">
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">

		</div>
	</div>
</div>
<h4>About the class</strong></h4>
<div class="row">
	<div class="col-md-6 col-sm-12">
		<ul class="basic"> 
			<li>Be bully proof!</li>
			<li>Accredited coaches with complete working-with- children certification</li>
			<li>Develop discipline, confidence, self esteem and respect</li>
		</ul>
	</div>
	<div class="col-md-6 col-sm-12">
		<ul class="basic"> 
			<li>Build strength, physical fitness, coordination &amp; mental toughness</li>
			<li>Make friends &amp; have fun!</li>
		</ul>
	</div>
</div>
