---
layout: styles.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "styles"
type: "mma"
---
<h2>Mixed Martial Arts <br>(MMA)</h2>
<div class="hidden-xs">
	<p><strong>MMA is the world's fastest growing sport. It is an extremely comprehensive fighting style which requires fighters to have an extensive knowledge of all aspects of fighting including stand up, take downs and ground fighting. The most common martial arts incorporated into MMA are Brazilian Jiu Jitsu, Kickboxing/boxing and Wrestling.</strong></p>
	<p>As a complex sport an MMA match can end in many different ways and requires both physical skill and strategic thinking to dominate. This is what makes the sport so exciting and popular.</p>
	<p>These classes are full contact and move at pace, therefore we offer these classes only to our intermediate students or students who have trained sufficiently in martial arts. This ensures that our students have the capabilities and foundation to incorporate multiple styles into their game plan, and most importantly creates a safe environment and skill level for their training partners. Because of this, it enables us to give a lot of focus and time to honing their game strategy, technique and ability. </p>
	<p>Our coaches focus on the physical aspect, but also work to develop the mental and strategic aspect of the sport. Building you into a complete martial artist.</p>
</div>
<div class="hidden-lg hidden-md">
	<p><strong>MMA is the world's fastest growing sport. It is an extremely comprehensive fighting style which requires fighters to have an extensive knowledge of all aspects of fighting including stand up, take downs and ground fighting. The most common martial arts incorporated into MMA are Brazilian Jiu Jitsu, Kickboxing/boxing and Wrestling.</strong></p>
	<p>These classes are full contact and move at pace, therefore we offer these classes only to our intermediate students or students who have trained sufficiently in martial arts. This ensures that our students have the capabilities and foundation to incorporate multiple styles into their game plan, and most importantly creates a safe environment and skill level for their training partners.</p>
	<p>Our coaches focus on physical technique, but also work to develop the mental and strategic aspect of the sport.</p>
</div>
<div id="mmacarouselcontainer">
	<div id="mmaCar" class="carousel slide">
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">

		</div>
	</div>
</div>
<h4>About the class</strong></h4>
<div class="row">
	<div class="col-md-6 col-sm-12">
		<ul class="basic"> 
			<li>Learn how to incorporate multiple fighting styles</li>
			<li>Develop physical techniques in a safe environment</li>
			<li>Develop strategy</li>
		</ul>
	</div>
	<div class="col-md-6 col-sm-12">
		<ul class="basic"> 
			<li>Intense physical workout</li>
			<li>Compete professionally</li>
		</ul>
	</div>
</div>
