---
layout: default.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "styles"
---  
<section class="intro-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center hidden-sm hidden-xs">
                <h1>Our <span class="colored-text">Styles</span></h1>
            </div>
        </div>
    </div>
</section>
<section class="inner-page-content">
    <div class="space-20"></div>
    <div id="styles" class="container">
        <!--center heading-->
        <!-- <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="img/muaythai.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Muay Thai Kickboxing</h4>
                        <p>
                            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam.
                        </p>
                    </div>
                </div>
            </div>
            service col end
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="img/bjj.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Brazilian Jiu Jitsu (BJJ)</h4>
                        <p>
                            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam.
                        </p>
                    </div>
                </div>
            </div>
            service col end
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="img/mma.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Mixed Martial Arts (MMA)</h4>
                        <p>
                            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam.
                        </p>
                    </div>
                </div>
            </div>
            service col end
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="img/kids.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Kids and Teens (Jiu Jitsu Ages 6+, Muay Thai Kickboxing Ages 14+)</h4>
                        <p>
                            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam.
                        </p>
                    </div>
                </div>
            </div>
            service col end
        </div> -->
        <div class="row team-wide">
            <div class="col-md-4 margin-btm-20">
                <div class="person-wrap">
                    <img src="img/muaythai.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1 team-wide-desc">
                <h3>Muay Thai Kickboxing</h3>
                <!-- <em>Co-founder</em> -->
                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet accusam.
                </p>
            </div>
        </div>
    </div>
    <!--about intro-->
</section>
