---
layout: default.hbs
title: "Movement Martial Arts - Best Sydney BJJ Kickboxing MMA Classes"
pageid: "timetable"
---
<section cl>
    <div class="container">
        <div class="row">
        <div class="col-md-12">
                <h2>Class timetable</h2>
            </div>
        </div>
    </div>
</section>
<section class="timetablesGroup">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="myTabsWrapper">
                    <ul id="myTabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#bjj" data-toggle="tab" data-height="true" aria-controls="bjj" role="tab">BJJ</a>
                        </li>
                        <li role="presentation">
                            <a href="#mt" data-toggle="tab" data-height="true" aria-controls="mt" role="tab">MT</a>
                        </li>
                        <li role="presentation">
                            <a href="#mma" data-toggle="tab" data-height="true" aria-controls="mma" role="tab">MMA</a>
                        </li>
                        <li role="presentation">
                            <a href="#kids" data-toggle="tab" data-height="true" aria-controls="kids" role="tab">Kids</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="bjj">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Mon</th>
                                            <th>Tue</th>
                                            <th>Wed</th>
                                            <th>Thu</th>
                                            <th>Fri</th>
                                            <th>Sat</th>
                                            <th>Sun</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>10:00AM
                                            <br>11:00PM
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>11:00AM
                                            <br>12:30PM
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="class-active">BJJ
                                            <br>No Gi
                                        </td>
                                        <td class="class-active" rowspan="2">Open Mat</td>
                                    </tr>
                                    <tr>
                                        <td>12:00PM
                                            <br>1:00PM</td>
                                            <td></td>
                                            <td class="class-active">BJJ
                                                <br>All Levels
                                            </td>
                                            <td></td>
                                            <td class="class-active">BJJ
                                                <br>All Levels
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td class="hidden"></td>
                                        </tr>
                                        <tr>
                                            <td>5:30PM
                                                <br>6:30PM
                                            </td>
                                            <td class="class-active">BJJ
                                                <br>Fundamentals
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>6:00PM
                                                <br>7:00PM
                                            </td>
                                            <td></td>
                                            <td class="class-active">BJJ
                                                <br>No Gi
                                            </td>
                                            <td></td>
                                            <td class="class-active">BJJ
                                                <br>No Gi
                                            </td>
                                            <td class="class-active" rowspan="2">Open Mat</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>7:00PM
                                                <br>8:00PM
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="hidden"></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>7:45PM
                                                <br>9:15PM
                                            </td>
                                            <td class="class-active">BJJ
                                                <br>Intermediate
                                            </td>
                                            <td></td>
                                            <td class="class-active">BJJ
                                                <br>Intermediate
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>8:00PM
                                                <br>9:00PM
                                            </td>
                                            <td></td>
                                            <td class="class-active">BJJ
                                                <br>Fundamentals
                                            </td>
                                            <td></td>
                                            <td class="class-active">BJJ
                                                <br>Fundamentals
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="mt">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>mon</th>
                                            <th>tue</th>
                                            <th>wed</th>
                                            <th>thu</th>
                                            <th>fri</th>
                                            <th>sat</th>
                                            <th>sun</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>10:00AM
                                                <br>11:00AM
                                                </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="class-active">Muay Thai
                                                <br>All Levels</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>11:00AM
                                                <br>1:00PM
                                                </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="class-active">Open Mat</td>
                                        </tr>
                                        <tr>
                                            <td>12:00PM
                                                <br>1:00PM
                                                </td>
                                            <td class="class-active">Muay Thai
                                                <br>All Levels</td>
                                            <td></td>
                                            <td class="class-active">Muay Thai
                                                <br>All Levels</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>5:30PM
                                                <br>6:30PM
                                                </td>
                                            <td></td>
                                            <td></td>
                                            <td class="class-active">Muay Thai
                                                <br>Fundamentals</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>6:00PM
                                                <br>8:00PM
                                                </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="class-active">Open Mat</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>6:30PM
                                                <br>7:45PM</td>
                                            <td class="class-active">Muay Thai
                                                <br>Intermediate</td>
                                            <td></td>
                                            <td class="class-active">Muay Thai
                                                <br>Intermediate</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>7:00PM
                                                <br>8:00PM</td>
                                            <td></td>
                                            <td class="class-active">Muay Thai
                                                <br>Fundamentals</td>
                                            <td></td>
                                            <td class="class-active">Muay Thai
                                                <br>Fundamentals</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="mma">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>mon</th>
                                            <th>tue</th>
                                            <th>wed</th>
                                            <th>thu</th>
                                            <th>fri</th>
                                            <th>sat</th>
                                            <th>sun</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>9:00AM
                                                <br>10:00AM
                                                </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="class-active">MMA
                                                <br>Invitation Only</td>
                                            <td></td>
                                        </tr>
                                        
                                        <tr>
                                            <td>11:00AM
                                                <br>1:00PM
                                                </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="class-active">Open Mat</td>
                                        </tr>
                                        <tr>
                                            <td>5:00PM
                                                <br>6:00PM
                                                </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="class-active">MMA
                                                <br>Invitation Only</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>6:00PM
                                                <br>8:00PM
                                                </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="class-active">Open Mat</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="kids">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>mon</th>
                                            <th>tue</th>
                                            <th>wed</th>
                                            <th>thu</th>
                                            <th>fri</th>
                                            <th>sat</th>
                                            <th>sun</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>5:00PM
                                                <br>6:00PM</td>
                                            <td></td>
                                            <td class="class-active">Kids Brazilian Jiu Jitsu</td>
                                            <td></td>
                                            <td class="class-active">Kids Brazilian Jiu Jitsu</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <p><a href="media/full_timetable.pdf">Download full timetable here</a></p>
            </div>
        </div>
    </div>
</section>
<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>One week free trial</h2>
                <p>Come and try us out for one week, totally free of charge!</p>
                <a href="freetrial.html" class="btn btn-black">Come on!</a>
            </div>
        </div>
    </div>
</section>