.img-responsive {
  width: 100%;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 * http://getbootstrap.com.vn/examples/equal-height-columns/
 */

.row-flex,
.row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex: 0;
}

.row-flex > div[class*='col-'],
.container-flex > div[class*='col-'] {
  margin: -.2px;
  /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,
.row-flex > div[class*='col-'] div {
  width: 100%;
}

/***********buttons***********/

.btn {
  display: inline-block;
  border-radius: 0;
  -webkit-border-radius: 0;
  margin: 0;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.btn-lg {
  padding: 10px 20px;
}

.btn-theme {
  background-color: transparent;
  border: 1px solid @yell-lt;
  color: #fff;
}

.btn-theme:hover {
  background-color: @yell-lt;
  border-color: @yell-lt;
  color: #fff;
}

.btn-white-border {
  color: #fff;
  border: 1px solid #666;
}

.btn-white-border:hover {
  color: #333;
  background-color: #fff;
  border-color: #fff;
}

.btn-theme-bg {
  background-color: @yell-lt;
  color: #333;
}

.btn-theme-bg:hover {
  color: #fff;
  background-color: #333;
}

.segment {
  padding: 90px 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/******** Lists *************/

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-chevron {
  li {
    background: url(../img/bullet.png) no-repeat 4px 15px;
    padding-left: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    a {
      color: #999;
    }
  }
}

.line {
  background-color: @white-lt;
  border-top: 1px solid;
}
