/* footer */

footer {
  background: #262626;
}

#footer {
  border-bottom: 1px solid #464647;
  border-top: 1px solid #464647;
  background: #262626;
  padding: 20px 0 20px 0;
  margin-bottom: 0;
}

.footer-col .widget-title {
  color: #d5d5d5;
}

.footer-col p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #bbb;
}

.widget-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
  color: #fff;
}

.widget-title:first-letter {
  border-bottom: 5px solid @yell-lt;
}

.footer-col p {
  font-size: 14px;
  line-height: 26px;
  color: #d5d5d5;
  font-weight: 300;
}


/*footer bottom*/

.f-menu-items {
  margin: 0px;
  padding: 0px;
}

.f-menu-items li:before {
  content: "|";
  margin: 0 12px 0 6px;
  color: #d5d5d5;
}

.f-menu-items li:first-child:before {
  content: "";
  margin: 0;
}

.f-menu-items li a {
  color: #bbb;
}

.f-menu-items li a:hover {
  color: #fff;
}

.footer-privacy-text {
  padding: 20px 0 20px 0;
  text-align: center;
  color: #d5d5d5;
}

.recent-post li {
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.recent-post li a {
  font-weight: 400;
  color: #bbb;
}

.recent-post li a:hover {
  color: #fff;
}

.recent-post li em {
  display: block;
  margin-top: 5px;
}
