/* Headings */

.heading-section {
  margin-bottom: 60px;
}

.main-heading {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin-bottom: 30px;
}

.main-heading span {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}

.right-btn {
  float: right;
}

.sub-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0px;
  margin: 0 0 15px 0;
}

.sub-heading p {
  font-weight: 400;
}

@media(max-width:433px) {
  .main-heading span {
    font-size: 14px;
  }
}
