// Intro styles

.intro-styles {
	position: relative;
	padding-top: @spacer-100;
	padding-bottom: @spacer-50;
	h3 {
		color: @white-lt;
		text-transform: uppercase;
		font-size: 2em;
		font-weight: 900;
		letter-spacing: 2px;
		display: inline-block;
		max-width: 50%;
		text-shadow: @white-lt 0 0 20px;
		padding-top: @spacer-30;
		padding-left: @spacer-30;
	}
	.type {
		min-height: 300px;
	}
	.mt {
		background-image: url("http://lorempixel.com/262/300/");
		background-repeat: no-repeat;
		background-position: center;
	}
	.bjj {
		background-image: url("http://lorempixel.com/262/300/");
		background-repeat: no-repeat;
		background-position: center;
	}
	.mma {
		background-image: url("http://lorempixel.com/262/300/");
		background-repeat: no-repeat;
		background-position: center;
	}
	.kids {
		background-image: url("http://lorempixel.com/262/300/");
		background-repeat: no-repeat;
		background-position: center;
	}
	.btn {
		position: absolute;
		width: 262px;
		left: 15px;
		bottom: 0;
		text-align: right;
		color: @white-lt;
		background:rgba(0,0,0,0.75);
	}
}
