/* Kids */

.kids {
  .intro-banner {
    min-height: 60%;
    background: rgb(0, 0, 0);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.3);
  }
  #kids {
    background-color: @white-lt;
  }
}