// Styles MMA

.mma {
	padding-top: 4%;
	padding-bottom: @spacer-50;
	background-image: url(../img/bg-mma.png);
	background-position: top right 0;
	background-size: 80%;
	background-repeat: no-repeat;
}
@media (min-width: @screen-md) {
	body.styles {
		.side {
			padding-top: 58%;
		}
	}
}
