// Styles Muay Thai

.muaythai {
	padding-top: 4%;
	padding-bottom: @spacer-50;
	background-image: url(../img/bg-mtk.png);
	background-position: top right 0;
	background-size: 80%;
	background-repeat: no-repeat;
	@media (min-width: @screen-md) {
		.side {
			padding-top: 507px;
		}
	}
}
