/* Timetable */

body.timetable {
  padding-top: 4em;
  .timetablesGroup {
    padding-bottom: 4em;
    background-color: @blk;
    td,
    th {
      font-weight: 500;
      color: @white-lt;
      text-align: center;
    }
    th {
      text-transform: capitalize;
      width: 12.5%;
    }
    .class-active {
      background-color: @yell-lt;
      color: @blk;
    }
    .nav a {
      padding: 1em 2em;
      font-weight: 900;
      background: #000;
      color: #fff;
      width: 15em;
      text-align: center;
      border: 1px solid @white-lt;
    }
    .nav .active a {
      background-color: @yell-lt;
      color: @blk;
      border: 1px solid @yell-lt;
    }
  }
  @media (min-width: @screen-sm) {
    padding-top: 10em;
  }
}
