<!DOCTYPE html>
<html lang="en">
    {{> head }}
    <body class="{{pageid}}">

        <!--navigation-->
        <!-- Fixed navbar -->
        {{> header }}
        <!--navigation end-->

        <!-- body -->
        {{> body }}
        <!-- body end-->

        <!--footer start-->
        {{> footer }}
        <!--footer end-->

		<!-- Modals - placed here to avoid position relative weirdness -->
		{{> modals}}
        <script src="libs/js/libs.js"></script>
        <!--script src="js/script.js"></script-->
        <script src="js/script.js"></script>
    </body>
</html>
