<!DOCTYPE html>
<html lang="en">
{{> head }}
<body class="{{pageid}}">

    <!--navigation-->
    <!-- Fixed navbar -->
    {{> header }}
    <!--navigation end-->

    <!-- body -->
    <section class="{{type}}">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {{> body }}
                </div>
                <div class="col-md-4 side black">
                    <h3>Come train with us <br><span>Your first week is free!</span></h3>
                    {{> form trial=true button="Get your free trial!"}}
                </div>
            </div>
        </div>
    </section>
    <!-- body end-->

    <!--footer start-->
    {{> footer }}
    <!--footer end-->

    <!-- Modals - placed here to avoid position relative weirdness -->
    {{> modals}}
    <script src="libs/js/libs.js"></script>
    <!--script src="js/script.js"></script-->
    <script src="js/script.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72802688-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-72802688-1');
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NF6W233"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
</body>
</html>